.main_block-title {
  background-color: #EEEEEE;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 113px 0px 0px 0px;
}

.main-title {
  padding-left: 12px;
  display: inline-block;
  max-width: 306px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  font-style: normal;
}

.main_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 85px 20px 20px;
}

.main_links_button {
  min-width: 120px;
  padding: 13px 4px;
  text-align: middle;
  border-radius: 24px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.main_block  {
  margin-top: 5px;
  padding: 15px;
  border-radius: 20px;
}

.main_block--yellow {
  background-color: #F9E398;
}

.main_block_title {
  font-size: 20px;
  font-weight: 500;
  margin: 0px
}

.main_block--green {

  background-color: #A2DEE6;
}

.main_block_info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.main_block_progress {
  margin: 0px;
  font-weight: 700;
  font-size: 58px;
  line-height: 50px;
}