.main_block-title {
  background-color: #EEEEEE;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 113px 0px 0px 0px;
  flex: 1 1 50%;
}

.main-title {
  padding-left: 12px;
  display: inline-block;
  max-width: 306px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  font-style: normal;
}

.main_links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 85px 20px 20px;
}

.main_links_button {
  min-width: 120px;
  padding: 13px 4px;
  text-align: middle;
  border-radius: 24px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.main_block  {
  margin-top: 5px;
  padding: 15px;
  border-radius: 20px;
}

.main_block--yellow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9E398;
}

.main_block_title {
  font-size: 20px;
  font-weight: 500;
  margin: 0px
}

.main_block--green {

  background-color: #A2DEE6;
}

.main_block_info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.main_block_progress {
  margin: 0px;
  font-weight: 700;
  font-size: 58px;
  line-height: 50px;
}

.main_block_decoration {
  display: flex;
  align-items: center;
  gap: 6px;
}

.main_block_toogle_icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_block_toogle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main_block_toogle_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.toogle_menu_button {
  background-color: transparent;
  z-index: 1;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 14px;
  padding: 4px 12px;
  transition: .3s color;
}

.main_block_toogle_menu {
  border-radius: 14px;
  background-color: #100F17;
  position: relative;
}

.toogle_menu_toogle {
  width: 70px;
  height: 26px;
  background-color: #A2DEE6;
  border-radius: 14px;
  position: absolute;
  transition: .3s transform;
}

.toogle_menu_toogle--on {
  transform: translateX(-35px);
}

.toogle_menu_toogle--off {
  transform: translateX(34px);
}

.toogle_menu_button--check {
  color: #A2DEE6;
}